/* general */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

h1,h2,h3,h4 {
  font-weight: bold;
}

h1,h2,h3,h4,p {
  margin: 0;
  margin-bottom: 15px;
  margin-top: 25px;
}

h1 {
  font-size: 60px;
}

h3 {
  font-size: 50px;
}

p {
  font-size: 20px;
}

.bianco {
  color: white;
}

.blu {
  color: #2c3e50;
}

.linee {
  display: inline-block;
  width: 15%;
  margin: 0;
  margin: 8px 8px;
  border-top: solid 4px ;
}

.lineebianche {
  border-top: solid 4px white;
}

.distanze {
  padding: 50px 0;
}

.marginiblocchi {
  margin: 20px 0;
}

.sfondoverde {
  background-color: #18bc9c;
  color: white;
}

.sfondoblu {
  background-color: #2c3e50;
}

.sfondofooter {
  background-color: #1a252f;
}

.centro {
  text-align: center;
}
/* general */


/* navbar */
#sfondofisso {
  background-color: #2c3e50;
  color: white;
  position: fixed;
  z-index: 999;
  right: 0;
  left: 0;
  top: 0;
  height: 80px;
}

#sfondofisso .navbar-default .navbar-collapse, .navbar-default .navbar-form {
  border-color: #2c3e50;
}

#sfondofisso .navbar-default {
  background-color: #2c3e50;
  border-color: #2c3e50;
}

#sfondofisso a {
 color: white;
}

#sfondofisso .navbar-default .navbar-brand:focus,  #sfondofisso .navbar-default .navbar-brand:hover {
  color: #18bc9c;
}

#sfondofisso .navbar-default .navbar-nav > li > a:focus, #sfondofisso .navbar-default .navbar-nav > li > a:hover {
  color: #18bc9c;
}

#sfondofisso .navbar-toggle {
  background-color: #18bc9c;
  padding: 9px 10px;
  border: 1px solid #18bc9c;
  margin-top: 14px;
}

#sfondofisso .navbar-toggle:hover {
  background-color: #148f77;
  border: 1px solid #148f77;
}

#bs-example-navbar-collapse-1 {
  margin-top: 10px
}

#sfondofisso .navbar-brand {
  font-size: 30px;
  font-weight: bold;
  line-height: 30px;
}


/* navbar */

.img6 {
  width: 100%;
  height: 100%;
  border-radius: 5px;
}

#margine {
  margin-top: 80px;
}

.start {
  text-align: left;
  line-height: 80px;
  font-weight: bold;
  font-size: 25px;
}

.link {
  color: white;
}

.link:hover {
  text-decoration: none;
  color: #18bc9c;
}

#tabellanavbar {
  text-align: right;
  line-height: 80px;
  font-size: 15px;
}

.imgjumbotron  {
  max-width: 250px;
}

.stellina {
  font-size: 30px;
}

.btndownload {
  background-color: #18bc9c;
  border-color: white;
  color: white;
  font-size: 20px;
  padding: 18px 23px;
}

.sfondoverde .btn-default:hover {
  background-color: white;
  color: black;
}

/* form */
#contatti .form-group input, #contatti .form-group textarea {
  border: none;
  border-bottom: solid 1px #ccc;
  box-shadow: none;
  border-radius: 0px;
  font-size: 25px;
}

#contatti .form-control::placeholder {
  color: #6c757d;
}

#contatti .form-control {
  height: auto;
  padding : 25px 0;
}

.btnform {
  background-color: #18bc9c;
  border-color: #18bc9c;
  color: white;
  font-size: 20px;
  padding: 13px 20px;
}

#contatti .btn-default:hover {
  background-color: #159a80;
  border-color: #148f77;
  color: white;
}
/* form */

/* footer */
.bordo {
  display: inline-block;
  border: solid 2px white;
  border-radius: 50%;
  padding: 10px 16px;
  margin: 5px 5px;
}

.bordogp {
  padding: 10px 8px;
}

.bordotw {
  padding: 10px 12px;
}

.bordoin {
  padding: 10px 15px;
}

.sfondoblu span {
  font-size: 22px;
}

.fab {
  font-size: 25px;
}
/* footer */
